<div class="row">
    <div class="col">
        <div class="py-5 border bg-light text-center">
            <h3>Contanti</h3>
            <p>Deposita in contanti</p>
            <a class="btn btn-primary" routerLink="/deposito/contanti">Prosegui</a>
        </div>
    </div>
    <div class="col">
        <div class="py-5 border bg-light text-center">
            <h3>Assegni</h3>
            <p>Deposita un assegno</p>
            <a class="btn btn-primary" routerLink="/deposito/assegni">Prosegui</a>
        </div>
    </div>
</div>